* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: black;
}

html {
    scroll-behavior: smooth;
}

.container {
    border: 2px solid black;
    height: 1028px;
}

.reviews h1 {
    color: white;
    font-family: sans-serif;
    font-weight: lighter;
    text-align: center;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.thoughts {
    border: 2px solid black;
    display: flex;
    height: 273px;
}

.review1,
.review2,
.review3 {
    border: .5px solid rgb(53, 52, 52);
    height: 267px;
    width: 443px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.review1 p i,
.review2 p i,
.review3 p i {
    margin-top: 50px;
    margin-bottom: 40px;
    color: rgb(238, 189, 37);
}

.section {
    border: 2px solid black;
    height: 56px;
    width: 200px;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
}

.dp {
    border: 3px solid black;
    height: 50px;
    width: 55px;
}

.dp img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.name {
    border: 2px solid black;
    width: 130px;
    height: 30px;
    margin-top: 17px;
    color: white;
}

/* Our Blogs */
.blogs {
    border: 3px solid black;
    font-family: sans-serif;
    height: 100px;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blogs h1 {
    font-family: sans-serif;
    font-weight: lighter;
    margin-left: 30px;
    color: white;
}

.blogs button {
    cursor: pointer;
    padding: 15px;
    font-weight: 400px;
    height: 43px;
    background-color: rgb(238, 189, 37);
    margin-right: 40px;
    border: .1px solid rgb(238, 189, 37);
}

.details {
    border: 2px solid black;
    height: 373px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.det1,
.det2 {
    border: 2px solid black;
    height: 368px;
    width: 655px;
    display: flex;
    flex-direction: row;
}

.post {
    border: 2px solid black;
    height: 366px;
    width: 324px;
}

.post img {
    width: 328px;
    height: 368px;
}

.compliment {
    border: 2px solid black;
    height: 366px;
    width: 323px;
}

.compliment h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 18px;
    color: rgb(238, 189, 37);
}

.compliment p {
    margin: 18px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.compliment h5 {
    font-family: sans-serif;
    margin: 18px;
    color: rgb(238, 189, 37);
    cursor: pointer;
}